# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Next.js
.next/
out/
build/

# Production
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files (uncomment for production)
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db

# Prisma
!db/prisma/migrations/.gitkeep

/prisma/db/prisma/generated
